s<ion-header>

  <ion-navbar>
    <ion-title>Search Results</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<!-- Display JSON data from API on cards -->
		<ion-card *ngFor="let result of recipeList" (click)="displayJSONdata(result)">
			<img src={{result.icon}}>
			<ion-card-content>
				<ion-card-title>
					{{result.name}}
				</ion-card-title>
				<ion-row>
				<ion-col text-left>				
				<p>{{result.source}}</p>
			</ion-col>
			<ion-col text-right>
				<!-- display calories rounded down -->
				<p>{{result.nutrients.ENERC_KCAL.quantity|number:'1.0-0'}} calories</p>		
			</ion-col>
		</ion-row>
			
		</ion-card-content>
	</ion-card>

<!-- need to fix this - it's showing regardless of whether we have results or not -->
<!-- if no results are returned from the search - display message to user -->
<ion-card *ngIf="recipeList.length<=0" text-center (click)="goToHome()">
			<div><h1>Your search didn't return any results.</h1><h2> Click here to start over. Be careful with spelling!</h2></div>
</ion-card>
</ion-content>