<ion-header>

  <ion-navbar>
    <ion-title>Search Results</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<!-- Display JSON data from API on cards -->
		<ion-card *ngFor="let result of recipeList" (click)="displayJSONdata(result)">
			<img src={{result.icon}}>
			<ion-card-content>
				<ion-card-title>
					{{result.name}}
				</ion-card-title>
				<ion-row>
				<ion-col text-left>				

				<p><ion-icon name="time"></ion-icon> {{result.time}} minutes</p>

			</ion-col>
			<ion-col text-right>
				<!-- display calories rounded down -->
				<p>{{result.nutrients.ENERC_KCAL.quantity|number:'1.0-0'}} calories</p>		
			</ion-col>
		</ion-row>
			
		</ion-card-content>
	</ion-card>

<!-- if we are not currently fetching and no results are returned from the search - display message to user -->
<ion-content padding>
	<div id="noResults" *ngIf="!fetching && recipeList.length<=0" text-center>
			<h1>Sorry, we didn't find any recipes for you this time. </h1>
		 <button id="tryAgainButton" ion-button round full color="danger" (click)="goToHome()">Try Again</button>
		<p text-center> Be careful with spelling! </p>
		</div>
	</ion-content>
