page-home {
	
	#logo {
	  width: 60%;
	  display: block;
	  margin: 10% auto 30% auto;
	}

	#homePageP {
	  text-align: center;
	  margin: -20% 0 40% 0; 
	}

	#homeButton {
	  margin: 8% auto 0 auto;
	  width: 50%;
	}

	#edamam-badge {
		left: 50%;
		bottom: 20px;
		transform: translate(-50%, -50%);
		margin: 0 auto;
	}
}
