.clearfix {
    clear: both;
}

.line {
    background-color: #ffcd94;
    border-radius:5%;
}
.info {
    background-color: #ffffff;
    border-radius:5%;
    color: black;
    padding: 5%;
    text-align: center;
}

.word {
    color: black;
    padding: 5%;
    text-align: center;
}

p.normal {
    font-style: normal;
}

p.italic {
    font-style: italic;
}

p.oblique {
    font-style: oblique;
}

h1 {
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
     font-size: 30px;
     font-weight: 500;

}

h2 {
    font-size: 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 250;
}

.p1 {
    font-size: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.p2 {
    font-size: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: oblique;

}
