<ion-header>
  <ion-navbar color="t_white">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>  
    <ion-title> Pick your food restrictions </ion-title>
  </ion-navbar>

</ion-header>




<!-- <h1>Allergies selection</h1>
<div text-justify>
<p>Select one or more allergies - your search results will only contain recipes flagged as safe for
	this allergy. Go to the next tab to select dietary requirements, or hit SEE RECIPES to 
go straight to your search results!  </p>
</div>	 -->


<ion-content padding>
<div class="tab-wrap">
  
    <input type="radio" name="tabs" id="tab1" checked>
    <div class="tab-label-content" id="tab1-content">
      <label class="tab-label" for="tab1"> Allergies </label>
      <div class="tab-content">

		<ion-list inset>
		  <ion-item [ngClass]="{allergyChosen: theSearch.isAllergySelectedByUser(tOption)}" *ngFor="let tOption of theSearch.getOptionsAllergies(); let i = index">
		    <ion-label><b>{{tOption.allergiesName}}</b>
		    </ion-label>
		    <ion-checkbox [checked] = "theSearch.isAllergySelectedByUser(tOption)" (ionChange)="theSearch.addAllergy(tOption)"></ion-checkbox>
		  </ion-item>
		</ion-list>   	
		
	  </div>
    </div> 


	<input type="radio" name="tabs" id="tab2">
    <div class="tab-label-content" id="tab2-content">
      <label class="tab-label" for="tab2"> Dietary Requirements </label>
      <div class="tab-content">

      		<ion-list inset>
		  <ion-item [ngClass]="{dietaryChosen: theSearch.isDietarySelectedByUser(tOption)}" *ngFor="let tOption of theSearch.getOptionsDietary(); let i = index">
		    <ion-label><b>{{tOption.dietaryName}}</b>
		    </ion-label>
		    <ion-checkbox [checked] = "theSearch.isDietarySelectedByUser(tOption)" (ionChange)="theSearch.addDietary(tOption)"></ion-checkbox>
		  </ion-item>
		</ion-list>   	
		
	  </div>
    </div>

 <div class="slide"></div>

</div>




<ion-item>
		<button ion-button round outline color="danger" (click) = "goToCardDisplay()">SEE RECIPES</button>
</ion-item>

</ion-content>



     
     
    
      	