<ion-header>
  <ion-navbar color="t_white">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>  
    <ion-title> Preferences </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<div class="tab-wrap">
  
    <input type="radio" name="tabs" id="tab1" checked>
    <div class="tab-label-content" id="tab1-content">
      <label class="tab-label" for="tab1"> Dietary Requirements </label>
      <div class="tab-content">
      	<ion-list inset>
			<!-- used list of strings instead of object for diet list -->
		  <ion-item [ngClass]="{dietaryChosen: theSearch.isDietarySelectedByUser(diet)}" *ngFor="let diet of theSearch.getOptionsDietary()">
		    <ion-label><b>{{diet}}</b>
		    </ion-label>
		    <ion-checkbox [checked] = "theSearch.isDietarySelectedByUser(diet)" (ionChange)="theSearch.addDietary(diet)"></ion-checkbox>
		  </ion-item>
		</ion-list>
			
	  </div>
    </div> 


	<input type="radio" name="tabs" id="tab2">
    <div class="tab-label-content" id="tab2-content">
      <label class="tab-label" for="tab2"> Allergies </label>
      <div class="tab-content">
      	<ion-list inset>
			<!-- used list of strings instead of object for allergy list -->
		  <ion-item [ngClass]="{allergyChosen: theSearch.isAllergySelectedByUser(allergy)}" *ngFor="let allergy of theSearch.getOptionsAllergies()">
		    <ion-label><b>{{allergy}}</b>
		    </ion-label>
		    <ion-checkbox [checked] = "theSearch.isAllergySelectedByUser(allergy)" color="danger" (ionChange)="theSearch.addAllergy(allergy)"></ion-checkbox>
		  </ion-item>
		</ion-list> 
		
	  </div>
    </div>

 <div class="slide"></div>

</div>

</ion-content>


<ion-footer no border>
	<div id = "button">
		<button ion-button round full color="danger" (click) = "goToCardDisplay()" id="seeRecipes">SEE RECIPES</button>
 	</div>
</ion-footer>  